body{
    background-color: aliceblue;
    font-size: 20px;
}
header{
    background-color: cornflowerblue;
}
.slider{
    font-size: 15px;background-color: blueviolet;
}
.images{
    border-radius: 10px;width: 150px;height: 180px;
}
.book_image{
    width: 50px;
    height: 88px;
}
.background_color_page{background-color: red;}